.StripeElement,
.stripe-style-input {
  color: #000;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}