{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'payments/css/checkout.css' %}"> -->
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock%}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row align-items-center" id="sub-heading">
    <div class="d-inline-flex mx-auto">
      <h2 class="px-5 py-3 rounded">Home</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 m-2 content-box px-0" id="user-profile">
      <h2 class="text-center mt-3">User Profile</h2>
      <hr>
      <form class="px-4 mt-4" method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="row mt-2">
          <div class="col-12 col-md-6 form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" name="firstname" id="firstname" value="{{ registration.first_name }}"
              readonly="readonly">
          </div>
          <div class="col-12 col-md-6 form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" name="lastname" id="lastname" value="{{ registration.last_name }}"
              readonly="readonly">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12 col-md-9 form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" name="email" id="email" value="{{ registration.email }}" readonly="readonly">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12 col-md-9 form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" name="company" id="company" value="{{ profile.company }}" readonly="readonly">
          </div>
        </div>
        <div class="btn-right-align">
          <button type="button" class="btn btn-icon float-right enable-edit" onclick="enableEdit()">
            <span class="material-icons-outlined">edit</span>
          </button>
          <button type="submit" class="btn btn-icon float-right submit-button d-none">
            <span class="material-icons-outlined">send</span>
          </button>
        </div>
      </form>
    </div>
    <div class="col-12 col-lg-6 m-2 content-box px-0" id="user-profile">
      <h2 class="text-center mt-3">Projects</h2>
      <hr>
      <table id="table-project" class="pt-0 px-3">
        <thead class="d-none">
          <tr>
            <th>Project</th>
            <th>Buttons</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <td class="truncate_project">{{ project.project_name }}</td>
            <td class="text-nowrap">
              {% if project.has_subscription == False %}
              <a class="btn btn-sm btn-dark float-right" href="{% url 'subscribe' project.id %}">Subscribe</a>
              {% else %}
              <a class="btn btn-sm btn-dark" href="{% url 'project_admin' project.id %}">Admin</a>
              <a class="btn btn-sm btn-dark" href="{% url 'get_dashboard' project.id %}"> View</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% for other in otherprojects %}
          <tr>
            <td class="truncate_project">{{ other.project.project_name }}</td>
            <td class="text-nowrap">
              <a class="btn btn-sm btn-dark" href="{% url 'get_dashboard' other.project.id %}"> View</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="btn-bttm-center">
        <button type="button" class="btn btn-rect mx-auto p-2 rounded" data-toggle="modal"
          data-target="#new-projectModal">Add New Project</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to Create Project -->
<div class="modal fade" id="new-projectModal" tabindex="-1" aria-labelledby="new-projectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title mt-3" id="new-projectModalLabel">New Project</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr>
      <div class="modal-body">
        <form action="{% url 'create_project' %}" method="POST" onsubmit="">
          {% load crispy_forms_tags %}
          <div id="projectDetails">
            <h5 class="font-weight-bold">Project Details</h5>
            <p>
              Provide the following details to get started.
              <br>
              You will then be prompted to select a subscription at the next step.
            </p>
            {% crispy form %}
            <br>
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-rect" value="submit">Create Project</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal to Create Subscription for Project -->
<!-- <div class="modal fade" id="new-subscriptionModal" tabindex="-1" aria-labelledby="new-subscriptionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-subscriptionModalLabel">Subscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'payment_method' %}" method="POST" id="payment-form">
          {% csrf_token %}
          <div class="px-4 mt-4">
            <div class="row mt-2">
              <div class="col-12 form-group">
                <label for="emailSub">Cardholders Email</label>
                <input type="text" class="form-control" name="emailSub" id="emailSub" value="{{ registration.email }}">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 form-group">
                <label for="nameSub">Cardholders Full Name</label>
                <input type="text" class="form-control" name="nameSub" id="nameSub"
                  value="{{ registration.first_name }} {{ registration.last_name }}">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 form-group">
                <label for="priceId">Subscription Plan</label>
                <select name="priceId" id="priceId" class="custom-select">
                  <option selected>Select Subscription Plan</option>
                  <option value="price_1IakCVLti2F8BZ1vMCS0D56C">Daily</option>
                  <option value="price_1IakBnLti2F8BZ1vmf00rG9b">Monthly</option>
                  <option value="price_1IakBnLti2F8BZ1vOZwv6Hse">Yearly</option>
                </select>
              </div>
            </div>
            <input type="hidden" name="projectId" value=""> -->
<!-- <div class="my-2 form-group" id="card-element"> -->
<!-- Elements will create input elements here -->
<!-- </div> -->

<!-- We'll put the error messages in this element -->
<!-- <div class="my-2" id="card-element-errors" role="alert"></div> -->
<!-- <button id="checkout" class="my-3" type="submit">Subscribe</button>
        </form>
      </div> -->

<!-- <div class="col-6">
              <button></button>
            </div> -->

<!-- <button type="submit" class="btn btn-icon float-right submit-button d-none">
          <span class="material-icons-outlined">send</span>
        </button> -->




<!-- </div>
</div>
</div>
</div> -->

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
  function subModal() {
    $('.subModal').click(function () {
      var projectId = $(this).data('id');
      $('input[name="projectId"]').val(projectId)
      $('#new-subscriptionModal').modal('show');
      // $('#new-subscriptionModal form').attr('action', post_url)
    })
  }

  function enableEdit() {
    $('input[readonly]').prop('readonly', false);
    $('.enable-edit').addClass('d-none');
    $('.submit-button').removeClass('d-none');
  }

</script>

<!-- <script src="{% static 'payments/js/checkout.js' %}"></script> -->

{% endblock %}