<div style="background-color: black; letter-spacing: 0.1rem; padding: 20px;">
  <a href="https://ms4-cost-report.herokuapp.com/">
    <h3 style="color: white; font-size: 36px;">Cost Report</h3>
    <h5 style="color: white; font-size: 24px;">Managing construction costs online</h5>
  </a>
</div>
<br>
<div style="padding: 20px; font-size: 16px;">
  <p><strong>{{ project.project_name }}</strong> has been removed from Cost Report</p>
  <br>
  <p>Removing the Project from Cost Report has removed all data associated with it and cancelled the subsription.</p>
  <br>
  <p>With regards to the subscription, you can still access the Payment history and details through the payment portal <a href="{{ url }}">here</a></p>
</div>