<div style="background-color: black; letter-spacing: 0.1rem; padding: 20px;">
  <a href="https://ms4-cost-report.herokuapp.com/">
    <h3 style="color: white; font-size: 36px;">Cost Report</h3>
    <h5 style="color: white; font-size: 24px;">Managing construction costs online</h5>
  </a>
</div>
<br>
<div style="padding: 20px; font-size: 16px;">
  <p>{{ user.first_name }} {{ user.last_name }} would like you to join <strong>Cost Report</strong> to view and manage the costs for <strong>{{ project.project_name }}</strong> online.</p>
  <br>
  <p>Registration is free and you will be able to view this project whilst {{ user }} subscribes to utilise <strong>Cost Report</strong> for tracking the costs of this project.</p>
  <br>
  <p>Register <a href="https://ms4-cost-report.herokuapp.com/accounts/signup/?next=%2F">here</a> for access to Cost Report.</p>
</div>