{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row align-items-center" id="sub-heading">
    <div class="d-inline-flex mx-auto">
      <h2 class="px-5 py-3 rounded">&nbsp;</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto content-box px-0" id="">
      <h2 class="text-center mt-3">Subscription</h2>
      <hr>
      <div id="3ds_result">

      </div>


    </div>
  </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'payments/js/3dsec.js' %}"></script>

<script>
  _3dsec('{{STRIPE_PUBLIC_KEY}}', '{{payment_intent_secret}}')
</script>

{% endblock %}