{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row align-items-center" id="sub-heading">
    <div class="d-inline-flex mx-auto">
      <h2 class="px-5 py-3 rounded"></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto content-box px-0">
      {% block inner_content %}

      {% endblock %}
    </div>
  </div>
</div>


{% endblock %}