{% extends "base.html" %}
{% load static %}
{% load dashboard_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock%}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row align-items-center" id="sub-heading">
    <div class="d-inline-flex mx-auto">
      <a href="{% url 'get_dashboard' change.project_id_id %}" class="my-auto mx-2">
        <span class="material-icons-outlined">
          undo
        </span>
      </a>
      <h2 class="my-3 text-center">{{ change.project_id }}</h2>
    </div>
  </div>
  <div class="row justify-content-center">

    <!-- 'DETAILS OF CHANGE' CONTAINER -->
    <div class="col-12 col-lg-6 m-2 content-box px-0" id="edit-change">
      <h2 class="text-center mt-3">Details of Change</h2>
      <hr>
      {% if project.project_owner == request.user %}
      <input type="hidden" id="user_permission" value="Edit">
      {% else %}
      <input type="hidden" id="user_permission" value="{{ project_user.user_permission }}">
      {% endif %}
      <div class="col-12">
        <form id="edit-change-form" action="{% url 'edit_change' change.id %}" method="POST"
          enctype="multipart/form-data">
          {% load crispy_forms_tags %}
          {% crispy changeForm %}

          {% if project.project_owner == request.user or project_user.user_permission == 'Edit' %}
            {% crispy attachmentsForm %}
          {% endif %}
        </form>
      </div>
      <div class="btn-bttm-center">
        {% if project_user.user_permission == 'View' %}
          <a class="btn btn-rect mx-2" href="{% url 'get_dashboard' change.project_id_id %}">Back</a>
        {% else %}
          <button class="btn btn-rect mx-2" type="submit" form="edit-change-form">Update</button>
          <button type="button" class="btn btn-rect mx-2" data-toggle="modal" data-target="#deleteChangeModal">Delete</button>
        {% endif %}
      </div>
    </div>

    <!-- 'ATTACHMENTS' CONTAINER -->
    <div class="col-12 col-lg-6 m-2 content-box px-0" id="list-of-attachments">
      <h2 class="text-center mt-3">Attachments</h2>
      <hr>
      <div class="margin-up mx-2">
        <table id="table-attachments" class="compact hover" style="width:100%">
          <thead class="">
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for attachment in attachments %}
            <tr>
              <td class="attachment-name">{{ attachment.attachment|filename }}</td>
              <td class=""><a class="btn btn-sm btn-dark" href="{{attachment.attachment.url}}" target="_blank">View</a>
              </td>
              <td class="">
                <button type="button" class="btn btn-sm mx-2" data-toggle="modal" data-target="#deleteAttachmentModal" data-url="{% url 'delete_file' change.id attachment.id %}">
                  <span class="material-icons">
                    delete
                  </span>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<!-- Modal to confirm DELETE CHANGE PERMANENTLY -->
<div class="modal fade py-auto" id="deleteChangeModal" tabindex="-1" role="dialog" aria-labelledby="deleteChangeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="deleteChangeLabel">Delete Change</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr class="my-0">
      <div class="modal-body">
        <h5 class="">Confirm to Delete this Change.</h5>
        <h5 class="mt-3">
          <strong>Warning: </strong>Deletion is permanent and cannot be reversed.
        </h5>
      </div>
      <hr class="my-0">
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="{% url 'delete_change' change.id %}" class="btn btn-danger mx-2">Confirm</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal to confirm DELETE ATTACHMENT  -->
<div class="modal fade py-auto" id="deleteAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="deleteAttachmentLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="deleteAttachmentLabel">Delete Attachment</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr class="my-0">
      <div class="modal-body">
        <h5 class="">Confirm to Delete this Attachment:</h5>
        <h5 class="attachment-name mt-3 text-center">
          <em></em>
        </h5>
        <h5 class="mt-3">
          <strong>Warning: </strong>Deletion is permanent and cannot be reversed.
        </h5>
      </div>
      <hr class="my-0">
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a class="btn btn-danger text-center mx-2" href="">Confirm</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}



{% block postloadjs %}
{{ block.super }}

  <script src="{% static 'dashboard/js/dashboard.js' %}"></script>

{% endblock %}