{% extends "base.html" %}
{% load static %}
{% load dashboard_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock%}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row align-items-center" id="sub-heading">
    <div class="d-inline-flex mx-auto">
      <a href="{% url 'home' %}" class="my-auto mx-2">
        <span class="material-icons-outlined">
          undo
        </span>
      </a>
      <h2 class="my-3 text-center">{{ project.project_name }}</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 m-2 content-box px-0" id="dashboard">
      <h2 class="text-center mt-3">Dashboard</h2>
      <hr>
      <div class="d-none d-sm-block vert-line"></div>

      <div class="row d-none d-sm-flex dashboard-content">
        <div class="col-sm-7 d-flex flex-column align-items-end">
          <h5 class="mr-4 my-3 text-nowrap">Original Estimate</h5>
          <h5 class="mr-4 my-3 C-accepted text-nowrap">Accepted Changes</h5>
          <h5 class="mr-4 my-3 T-sub text-nowrap">Sub-total</h5>
          <h5 class="mr-4 my-3 C-pending text-nowrap">Pending Changes</h5>
          <h5 class="mr-4 my-3 C-wip text-nowrap">Work in Progress</h5>
          <h5 class="mr-4 my-3 T-total text-nowrap">TOTAL</h5>
          <h5 class="mr-4 my-3 C-rejected text-nowrap">Rejected Changes</h5>
        </div>
        <div class="col-sm-5 d-flex flex-column">
          <h5 class="mr-4 my-3 text-nowrap">£ {{ original_estimate|floatformat:"0" }}</h5>
          <h5 class="mr-4 my-3 C-accepted text-nowrap">£ {{ accepted_changes|floatformat:"0" }}</h5>
          <h5 class="mr-4 my-3 T-sub text-nowrap">£ {{ subtotal|floatformat:"0" }}</h5>
          <h5 class="mr-4 my-3 C-pending text-nowrap">£ {{ pending_changes|floatformat:"0" }}</h5>
          <h5 class="mr-4 my-3 C-wip text-nowrap">£ {{ wip_changes|floatformat:"0" }}</h5>
          <h5 class="mr-4 my-3 T-total text-nowrap">£ {{ total|floatformat:"0" }}</h5>
          <h5 class="mr-4 my-3 C-rejected text-nowrap">£ {{ rejected_changes|floatformat:"0" }}</h5>
        </div>
      </div>
      <div class="row d-inline d-sm-none dashboard-content">
        <div class="col-12 d-flex flex-column">

          <h5 class="mt-3 text-nowrap">Original Estimate</h5>
          <h5 class="ml-auto mr-3 mb-3 text-nowrap">£ {{ original_estimate|floatformat:"0" }}</h5>
          <div class="dash-line"></div>

          <h5 class="mt-3 C-accepted text-nowrap">Accepted Changes</h5>
          <h5 class="ml-auto mr-3 mb-3 C-accepted text-nowrap">£ {{ accepted_changes|floatformat:"0" }}</h5>
          <div class="dash-line"></div>

          <h5 class="mt-3 T-sub text-nowrap">Sub-total</h5>
          <h5 class="ml-auto mr-3 mb-3 T-sub text-nowrap">£ {{ subtotal|floatformat:"0" }}</h5>
          <div class="dash-line"></div>

          <h5 class="mt-3 C-pending text-nowrap">Pending Changes</h5>
          <h5 class="ml-auto mr-3 mb-3 C-pending text-nowrap">£ {{ pending_changes|floatformat:"0" }}</h5>
          <div class="dash-line"></div>

          <h5 class="mt-3 C-wip text-nowrap">Work in Progress</h5>
          <h5 class="ml-auto mr-3 mb-3 C-wip text-nowrap">£ {{ wip_changes|floatformat:"0" }}</h5>
          <div class="dash-line"></div>

          <h5 class="mt-3 T-total text-nowrap">TOTAL</h5>
          <h5 class="ml-auto mr-3 mb-3 T-total text-nowrap">£ {{ total|floatformat:"0" }}</h5>
          <div class="dash-line"></div>

          <h5 class="mt-3 C-rejected text-nowrap">Rejected Changes</h5>
          <h5 class="ml-auto mr-3 mb-3 C-rejected text-nowrap">£ {{ rejected_changes|floatformat:"0" }}</h5>

        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 m-2 content-box px-0" id="list-of-changes">
      <h2 class="text-center mt-3">List of Changes</h2>
      <hr>
      <div class="margin-up mx-2">
        <table id="table-changes" class="compact hover" style="width:100%">
          <thead class="">
            <tr>
              <th>Change</th>
              <th class="text-nowrap">Value £</th>
              <th>Status</th>
              <th class="d-none">Link</th>
            </tr>
          </thead>
          <tbody>
            {% for change in changes %}
            <tr>
              <td class="truncate_changes">{{ change.change_name }}</td>
              <td class="text-right">{{ change.change_cost|floatformat:"0" }}</td>
              <td class="text-center">{{ change.change_status }}</td>
              <td class="d-none change_id_select">{{ change.id }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="btn-top-right">
        {% if project.project_owner == request.user or project_user.user_permission == 'Edit' %}
        <button type="button" class="btn-sm btn-icon-small" data-toggle="modal" data-target="#changeModal">
          <span class="material-icons-outlined ">add</span>
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Modal to Add Change -->
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content content-box">
      <div class="modal-header">
        <h2 class="modal-title mt-3" id="changeModalLabel">New Change</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="changeForm" action="{% url 'add_change' project.id %}" method="POST" enctype="multipart/form-data">
          {% load crispy_forms_tags %}
          {% crispy form %}
          {% crispy attachmentsForm %}
          <button id="addChangeBtn" class="btn btn-rect btn-bttm-center">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
  $('tr').click(function () {
    var change_id = $(this).children('.change_id_select').text()
    window.location.href = `/dashboard/edit_change/${change_id}/`
  });


</script>
{% endblock %}